*{
    margin: 0;
    padding: 0;
}
article{

    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 0;
    border-bottom: 1px solid gray;
}
article .content{
    width: 75%;
}

.monto{
    font-weight: bold;
}

.egreso{
    color: gray;
}

.egreso::before{
    content: '- ';
}

.ingreso{
    color: green;
}
.ingreso::before{
    content: '+ ';
}