.landing{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;



    height: 100%;
    padding: 1rem;
}



.intro{
    padding: 1rem;
}

.landing .intro h3{
    color: #008b8b;
}


.actions{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}