.landing{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    background-color: antiquewhite;
    height: 100%;
    padding: 1rem;
}

header{
    text-align: center;
}

.intro{
    padding: 1rem;
}