<header>Balance</header>
<section class="landing">
    <article class="intro">
        <h3>
            Balances para OSFL 
        </h3>
        <p>Rápido y Fácil</p>
    </article>
    <article class="actions">
        <!-- <app-datos-organizacion></app-datos-organizacion> -->
        <div class="input-control">
            <label for="nombre_organizacion">Nombre de la organización</label>
            <input type="text" id="nombre_organizacion" 
                #nombre
                [formControl]="nombre_organizacion"
                (blur)="store.setNombreOrganizacion(nombre.value)"    
                (keyup.enter)="comenzar()"
                >
        </div>

        <button (click)="comenzar()">Agregar nuevo registro</button>
    </article>
</section>