
    <header>Balance</header>

    <section class="container" *ngIf="(store.balance$ | async) as balance" >
        <app-datos-organizacion></app-datos-organizacion>
        <section class="content">

       
        <ng-container *ngIf="balance.items.length >0; else noitems">
            <section class="information">
                    <article class="saldo">
                        <h1>{{balance.saldo | monto}}</h1>
                        <p>saldo</p>
                    </article>
                    <article class="resumen">
                        <div class="tipo-evento">
                            <!-- <p class="cantidad">{{balance.cantidadIngresos }}</p> -->
                            <div class="detalle">
                                <p class="monto">{{balance.totalIngresos | monto}}</p>
                                <p class="texto">ingresos</p>
                            </div>
                        </div>
                        <div class="tipo-evento">
                            <!-- <p class="cantidad">{{balance.cantidadEgresos}}</p> -->
                            <div class="detalle">
                                <p class="monto">{{balance.totalEgresos | monto}}</p>
                                <p class="texto">egresos</p>
                            </div>
                        </div>
                        
                    </article>
            </section>
            <section class="lista" >
                <div class="lista__header">
                    <p>Lista de registros</p>
                </div>
                <div class="list-item">
                    <app-balance-item-list></app-balance-item-list>
                </div>
            </section>
        </ng-container>

        <ng-template #noitems>
            <section class="no-items">
                <p>Sin registros.</p>
            </section>
        </ng-template>
        </section>
        <section class="actions">
            <button class="btn_btn--descargar">Descargar Balance</button>
            <button class="btn_btn--agregar-registro" [routerLink]="'/balance/item'" >Agregar nuevo registro</button>

        </section>
    </section>
